
/* New Styles */

.headshot{
	width: 256px;
	border-radius: 50%;
}

/*
	Overriding styles
*/

/* tiny change because padding is too much to my tastes */
section {
	padding: 75px 0;
}

/* Removing star on hr tags because I want a more formal page */
hr {
	margin-top: 25px;
	margin-bottom: 30px;
	height: 0px;
	border-top: solid 5px;
	max-width: 256px;
}
hr.light { border-color: white; }
hr.primary { border-color: #2C3E50; }

/* image fix to images that ate inside a carousel */
/* the carousel ended up being bigger than the image in it */
.carousel img{
	margin: 0 !important;
}
.portfolio-modal .carousel {
	margin-bottom: 30px;
}