
/* New Styles */

.headshot{
	width: 256px;
	border-radius: 50%;
}

/* Overriding styles */

section {
	padding: 75px 0;
}

hr {
	margin-top: 25px;
	margin-bottom: 30px;
	height: 0px;
	border-top: solid 5px;
	max-width: 256px;
}
hr.light { border-color: white; }
hr.primary { border-color: #2C3E50; }